.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/*_files
analysis/site_libs
output/BayesNMF/
raw_data/
output/CNV.facets.tally.M*
output/CNV.seqz.tally.M.RData
.drake/
NIHMS938028-supplement-4.txt
data/PRAD_Maf.RData
output/Maf_Est.RData
*.pbs
deep_del_result/
seqz_wes_result/
seqz_error_input/
hg38.gtf.gz
output/PRAD_TCGA_plus_dbGap_Maf.RData
output/BayesianNMF_MutSig/
analysis/0*/
output/DoAbsolute_*
PRAD_MAF.xlsx
